@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.card1{
    width: 24rem;
    margin-left: 65px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
}
.card1 .left img{
    width: 24rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 230px;
    
}
.card1 .left h3{
    text-align: center;
    padding-left: 10px;
    color: black;
    font-weight: 800;
    font-family: 'IBM Plex Sans', sans-serif;
}
.card1 .left article{
    margin-left: 122px;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(5, 5, 87);
    width: 30%;
    margin-bottom: 20px;
    color: white;
    padding: 12px 15px;
    border-radius: 20px;

}
.card1 .left article a:any-link{
    text-decoration: none;
    color: white;
}
@media (max-width: 680px) {
    .card1{
        width: 20rem;
    }
    .card1 .left img{
        width: 20rem;
        height: 200px;
    }
    .card1 .left article{
        width: 50%;
        margin-left: 85px;
        margin-top: 20px;
    }
}